body{
    margin: 0;
    padding: 0;
    background-color: lavenderblush;
}

button{
    padding: 10px;
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container{
    background-color: white;
    height: 600px;
    width: 600px;
    margin: 20px;
}

.row{
    background-color: white;
    border: 1px solid black;
    display: flex;
}

.col{
    background-color: white;
    border: 1px solid black;
    height: inherit;
}